<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="RBOS.Properties.Settings.RBOSInitConnectionString"
      connectionString="Provider=SQLOLEDB;Data Source=PNI-T480\SQLEXPRESS;Initial Catalog=DRSLogon;User ID=LogOnUser;Password=Drs123#789"
      providerName="System.Data.SqlClient" />
    <add name="RBOS.Properties.Settings.RBOSInitConnectionStringSQL"
      connectionString="Data Source=PNI-T480\SQLEXPRESS;Initial Catalog=DRSLogon;User ID=DrsLogOn;Password=Drs123#789"
      providerName="System.Data.SqlClient" />
    <add name="RBOS.Properties.Settings.RBOS20ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=PNI-T480\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=3137"
      providerName="System.Data.OleDb" />
    <add name="RBOS.Properties.Settings.RBOSConnectionStringOLEDB"
      connectionString="Provider=SQLOLEDB;Data Source=PNI-T480\SQLEXPRESS;Initial Catalog=DRSLogon;User ID=LogOnUser;Password=Drs123#789" />
    <add name="RBOS.Properties.Settings._3127ConnectionString" connectionString="Data Source=PNI-T480\SQLEXPRESS;Initial Catalog=3127;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="RBOS.Properties.Settings.test" connectionString="Provider=SQLOLEDB.1;Data Source=PNI-T480\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=3127"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="Version" value="2.0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.3500.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Design" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.3500.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.3500.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Data.AdoDotNetInterop" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.3500.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonControls" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.3500.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.Prompting" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.3500.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.3500.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="13.0.3500.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
